::-webkit-scrollbar { display: none; }
html {
	scroll-behavior: smooth;
}
* {
	font-family: Palatino;

}
body {
	background: rgba(245, 245, 245, 1);
	
	padding-bottom: 10vh;


}

h1 {
	font-size: 8vw;
	color: rgba(232, 139, 0, 1);
}
#bigDot {
	position: absolute;
	width: 28vw;
	height: 28vw;
	transform: translateX(-60%);
	left: 0;
	top: 2vh;
	border-radius: 100%;
	background: rgba(255, 165, 31, 1);
}
#titleName {
	margin-top: 21vh;
	margin-left: 14vw;
}
#title {
	margin-left:0;
}
#d1 { margin-left: 16vw; }
#d2 { margin-left: 12vw; margin-top: 1vh;}
#d3 { margin-left: 8vw; }
#d4 { margin-left: 4vw; margin-top: 1vh;}

h2 {
	font-size: 4vw;

	color: rgba(121, 121, 121, 1);
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	padding: 0;
	margin:  0vh 0 3vh 0;

}
h3 {
	font-size: 2.25vw;

	margin-top: 5vh;
	margin-bottom: 3vh;
	padding: 0;

	color: rgba(121, 121, 121, 1);
	font-family: Palatino;
	font-weight: 700;
	line-height: 0px;
	letter-spacing: 0em;
	text-align: left;
}
p {
	font-size: 2vw;

	padding: 0;
	margin: 0;

	color: rgba(121, 121, 121, 1);
	font-weight: 400;
	letter-spacing: 0em;
	text-align: left;
}
a {
	font-size: 2vw;

	text-decoration: none;
	font-family: Palatino;

	line-height: 9px;
	letter-spacing: 0em;
	text-align: left;

	color: rgba(121, 121, 121, 1);
}
.a {
	display: flex;
	padding: 2vh;
}
.dot {
	background-color: rgba(232, 139, 0, 1);
	width: 2vw;
	height: 2vw;
	border-radius: 100%;
	margin: -.5vw 1vw 0 0vw;
}
#categories {
	padding-top: 2vh;
	padding-bottom: 4vh;

	margin: 5vw;
	width: 90vw;
	left: 5vw;
	border-top: 3px solid rgba(232, 139, 0, 1);

	border-bottom: 3px solid rgba(232, 139, 0, 1);
}
.category {
	display: flex;
	flex-direction: column;
	/*margin-top: 2vh;*/
	/*padding: 25px;*/
	margin-top: 7vh;
}

#c1 {
	/*margin-left: 30%;*/
	margin-left: 0;
}
#c2 {
	/*margin-left: 15%;*/
	margin-left: 0;
}
#c3 {
	/*margin-left: 40%;*/
	margin-left: 0;
}
#c4 {
	/*margin-left: 25%;*/
	margin-left: 0;
}
#c5 {
	/*margin-left: 50%;*/
	margin-left: 0;
}

#lilDot {
	position: absolute;
	width: 120px;
	height: 120px;
	transform: translateX(60%);
	right: 0;
	bottom: -120%;
	border-radius: 100%;
	background: rgba(255, 165, 31, 1);

}
.footer {
	width:100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	margin-top: 5vh;
	/*padding-left: 60%;*/
	
}
#f1 #f2 #f3 #f4 #f5 {
	padding: 0vw;
	margin: 0px;
}

#oldSite {
	font-size: 15vw;
	width:100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10vh;
}